<div class="container-fluid">
  <div class="row">
    <div id= "home-title">
     <h1>Maintenance Minder</h1>
    </div>
  </div>
  <div class="row">
    <div class="slideshow-container">
      <div class="mySlides fade">
        <%= image_tag("self-repair.jpg",:class => "img")%>
      </div>
      <div class="mySlides fade">
        <%= image_tag("car-doctor.jpg",:class => "img")%>
      </div>
      <div class="mySlides fade">
        <%= image_tag("stolen-car.gif",:class => "img")%>
      </div>
    </div>
    <br>
    <div style="text-align:center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>
  <div class="row">
    <div id= "textUnderCarosuel">
      <p class = "about">Helping you find Service Intervals and Recall Information</p>
      <a  href="/carsearch" class="btn btn-danger btn-xl page-scroll">Click to Search</a>
    </div>
  </div>
</div>



<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex> slides.length) {
      slideIndex = 1
    }
    slides[slideIndex-1].style.display = "block";
    setTimeout(showSlides, 5000); // Change image every 5 seconds
}
</script>


