<!doctype html>

<html>
<body class="home">
    <header>
    	<div class="header-content ">
    		<div class= "color">
      	<h1>Maintenance Minder</h1>  
        	<p class = "about">Helping you find Service Intervals and Recall Information</p>
          <a  href="/carsearch" class="btn btn-danger btn-xl page-scroll">Click to Search</a><br><br>
          </div>
       </div>
    </header>

   
</body>

</html>