<!doctype html>

<html>
<body class="home">
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Maintenance Minder</h1>

                <% if current_user %>
                <h3> Hey, <%= current_user.name %> ! </h3>
                <% end %>
               
                <p class = "about">Helping you find Service Intervals and Recall Information</p>
                <a href="/carsearch" class="btn btn-danger btn-xl page-scroll">Click to Search</a>
            </div>
        </div>
    </header>

   
</body>

</html>