html,
body {
    height: 100%;
    margin: 0 auto;
    min-width: 320px;
}
@import 'https://fonts.googleapis.com/css?family=PT+Sans';
/*homepage*/


#img {
    width: 100%;
}
#home-title {
    text-align: center;
    color: #fff;
    background-color: #93aed2;
    padding: 15px 10px 25px 10px;
    margin: 0 0 10px 0;
}
#textUnderCarosuel {
    position: absolute;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    background-color: #93aed2;
    padding: 40px;
    margin: auto;
    width: 100%;
    height: 37%;
}
#textUnderCarosuel p {
    position: relative;
    top: 50%;
    text-align: center;
}
* {
    box-sizing: border-box;
}
.mySlides {
    display: none;
}
/* Slideshow container */

.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}
/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* The dots/bullets/indicators */

.dot {
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #717171;
}
/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5.5s;
    animation-name: fade;
    animation-duration: 5.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/*``````````````````````````````````````````````````*/
/*user profile edit page */

#edit {
    float: left;
}
#editBackground {
    background-image: url(https://s3.amazonaws.com/maintenanceminder/forgot.jpeg);
    background-size: cover;
    height: 100%;
    padding: 5px;
}
#textAboveField {
    color: white;
    text-shadow: 3px 2px 2px black;
}
#upload {
    color: white;
    text-shadow: 3px 2px 2px black;
    float: right;
}
.button {
    color: black;
}
/*``````````````````````````````````````````````````*/
/* forgot password page */

.forgot {
    background-image: url(https://s3.amazonaws.com/maintenanceminder/forgot.jpeg);
    background-size: cover;
}
/*``````````````````````````````````````````````````*/
/*nav bar */

nav {
    height: 60px;
    width: 100%;
    padding: 5px;
    background-color: white;
}
#navLinks {
    list-style: none;
    position: absolute;
    right: 5px;
    top: 65px;
    padding: 20px;
    background-color: white;
    cursor: pointer;
}
#userAvatar {
    height: 50px;
    width: 50px;
    float: left;
}
#avatar {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#menuBtn {
    width: 50px;
    height: 50px;
    display: block;
    float: right;
    cursor: pointer;
}
#menu-btn span {
    position: relative;
    display: block;
    width: 20px;
    height: 3px;
    top: 25%;
    left: 35%;
    transform: translate(-35%, -35%);
    margin: 4px;
    background: rgb(0, 0, 0);
    z-index: 99;
}
.hideNav {
    display: none;
}
#logo {
    background-image: url("https://s3.amazonaws.com/maintenanceminder/logo1.png");
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
}
/*``````````````````````````````````````````````````*/
/*show page for the search.*/

#searchPage img {
    padding: 35px 0;
}
#searchFormTop {
    background-color: #93aed2;
    height: 80px;
}
#searchTitle {
    text-align: center;
    color: white;
}
#searchTitle input {
    color: black;
}
#uSubmit {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
}
#uSubmit a {
    color: #fff;
}
#mapText {
    text-shadow: 1px 1px 1px black;
    color: #fff;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.45);
    margin: 0px;
}
#map {
    height: 350px;
    width: 100%;
}
#origin-input {
    margin: 5px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}
#destination-input {
    margin: 5px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}
#origin-input:focus,
#destination-input:focus {
    border-color: #4d90fe;
}
/*``````````````````````````````````````````````````
/*log in page*/

#logInBackground img {
    margin: 0 auto;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35%;
    width: 60%;
}
.logIn {
    position: absolute;
    height: 25%;
    width: 100%;
    color: black;
    background-color: #93aed2;
    bottom: 0;
}
div #logInField {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}
#forgotPassword {
    height: 30px;
    color: black;
    background-color: #80858e;
}
#forgotPassword a {
    color: black;
}
#btn-color {
    color: black;
    background-color: #80858e;
    width: 152px;
}
#loginTextAboveField {
    color: white;
    text-shadow: 2px 2px 3px black;
}
/*``````````````````````````````````````````````````*/
/*sign up page*/

.signUp {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #93aed2;
    height: 30%;
}
.signUp form {
    width: 20%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}
#signUpBackground img {
    position: absolute;
    margin-top: 50px;
    height: 40%;
    width: 50%;
    left: 25%;
}
/*``````````````````````````````````````````````````*/
/*Modals*/

.modal.left .modal-dialog {
    position: fixed;
    left: 0;
    margin: auto;
    width: 40%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 40%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}
.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}
/* Left */

.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}
.modal.left.fade.in .modal-dialog {
    left: 0;
}
/*Right*/

.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.right.fade.in .modal-dialog {
    right: 0;
}
/*
 ----- MODAL STYLE ----- */

.modal-content {
    border-radius: 0;
    border: none;
}
.modal-header {
    border-bottom-color: #e65c00;
    background-color: #d9d9d9;
}
/*
 ----- Modal styling for colors text etc. ----- */

.btn-default {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 0;
    font-size: 12px;
    background-color: #FFFFFF;
}
.btn-default:focus {
    outline: 0;
}
.modal-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: #212121;
    text-align: center;
}
.modal-footer > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}
@media only screen and (max-width: 1050px) {
    #textUnderCarosuel p {
        margin: 0 auto;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #textUnderCarosuel a {
        margin: 0 auto;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*``````````````````````````````````````````````````
/*log in page*/
    
    #logInBackground img {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 20%;
        width: 60%;
    }
    .logIn {
        position: absolute;
        height: 25%;
        width: 100%;
        color: black;
        background-color: #93aed2;
        bottom: 0;
    }
    .logIn form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
    }
    #forgotPassword {
        height: 40px;
        width: 152px;
        color: black;
        background-color: #80858e;
    }
    #forgotPassword a {
        color: black;
    }
    #btn-color {
        color: black;
        background-color: #80858e;
        width: 152px;
    }
    #loginTextAboveField {
        color: white;
        text-shadow: 2px 2px 3px black;
    }
    /*``````````````````````````````````````````````````*/
    /*sign up page*/
    
    .signUp {
        margin: 0 auto;
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: #93aed2;
        height: 30%;
    }
    .signUp form {
        width: 40%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        color: black;
    }
    #signUpBackground img {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #car-garage {
        width: 100%;
    }
    #searchForm {
        width: 100%
    }
    #searchFormTop {
        background-color: #93aed2;
        height: 85px;
    }
    #searchTitle {
        font-size: 16px;
        text-align: center;
        color: white;
    }
    #searchTitle h3 {
        font-size: 24px;
    }
    #searchTitle input,
    button {
        margin-bottom: 5px;
        color: black;
    }
    #mapText em {
        font-size: 20px;
    }
}






@media only screen and (max-width: 799px) {
    #textUnderCarosuel p {
        font-size: 16px;
        margin: 0 auto;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #textUnderCarosuel a {
        font-size: 12px;
        margin: 0 auto;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*``````````````````````````````````````````````````
/*log in page*/
    
    #logInBackground img {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 20%;
        width: 100%;
    }
    .logIn {
        position: absolute;
        height: 30%;
        width: 100%;
        color: black;
        background-color: #93aed2;
        bottom: 0;
    }
    .logIn form {
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
    }
    #forgotPassword {
        height: 40px;
        width: 130px;
        color: black;
        background-color: #80858e;
    }
    #forgotPassword a {
        color: black;
    }
    #btn-color {
        color: black;
        background-color: #80858e;
        width: 130px;
    }
    #loginTextAboveField {
        color: white;
        text-shadow: 2px 2px 3px black;
    }
    /*``````````````````````````````````````````````````*/
    /*sign up page*/
    
    .signUp {
        margin: 0 auto;
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: #93aed2;
        height: 30%;
    }
    .signUp form {
        font-size: 12px;
        width: 50%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        color: black;
    }
    #signUpBackground img {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #car-garage {
        width: 100%;
    }
    #searchForm {
        width: 100%;
    }
    #searchFormTop {
        background-color: #93aed2;
        height: 85px;
    }
    #searchTitle {
        font-size: 10px;
        text-align: center;
        color: white;
    }
    #searchTitle h3 {
        font-size: 20px;
    }
    #searchTitle input,
    button {
        margin-bottom: 5px;
        color: black;
    }
    #mapText em {
        font-size: 20px;
    }
  }







    @media only screen and (max-width: 320px) {

        #textUnderCarosuel p {
            margin: 0 auto;
            font-size: 12px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        #textUnderCarosuel a {
            margin: 0 auto;
            position: absolute;
            font-size: 10px;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .signUp form {
            font-size: 11px;
        }
        #btn-color {
            width: 130px;
        }
        #searchTitle {
            font-size: 8px;
            text-align: center;
            color: white;
        }
        #searchTitle h3 {
            font-size: 18px;
        }
        #searchTitle input,
        button {
            margin-bottom: 5px;
            color: black;
        }
        #mapText em {
            font-size: 18px;
        }

       #signUpBackground img {
        margin:20px 0 0 0;
        height: 30%;
        width:100%;
       }

       #logInBackground img {
        margin:30px 0 0 0;
        height: 30%;
        width:100%;
       }

       .logIn form {
            font-size: 11px;
        }
         #forgotPassword {
            width: 130px;
        }
    }







