
  @import 'https://fonts.googleapis.com/css?family=PT+Sans';
/*homepage*/

.home {
  background-image: url("https://s3.amazonaws.com/maintenanceminder/car.jpg");
  background-size: cover;
  padding:80px;
  height: 100%;
  width: 100%;


}

/*/*title*/
h1 {
  font-family: 'PT Sans', sans-serif;
  right:22px;
  text-shadow: 3px 2px 2px black;
  position: relative;
  bottom: 5%;
  color: red;
  font-weight:700;
  font-size:85px;
  text-transform:uppercase;
  margin-top:0;
  margin-bottom:0;
  margin:25px auto;

}




h2 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px black;

}

.btn {
  border:none;
  border-radius:500px;
  font-weight:700;
  text-transform:uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0px 10px 20px 0 rgba(0,0,0,1);
  width: 250px;

}

.header-content{

  text-align:center;

}

.color {
  border-radius:100px;
  background-color: rgba(0,0,0,0.2);

  padding:15px;

}

/*text under the title*/
.about {
  font-family: 'David Libre', serif;
  position:relative;
  text-align:center;
  font-size:50px;
  width:100%;
  margin-left:auto;margin-right:auto;
  color:white;
  text-shadow: 3px 2px 2px black;

}

/*``````````````````````````````````````````````````*/
/*user profile edit page */

.edit {
  text-align: center;
  right:40px;
}
#editBackground  > .container-fluid {
  padding-top:60px;
}

#editBackground {
  background-image: url(https://s3.amazonaws.com/maintenanceminder/forgot.jpeg);
  background-size: cover;
  height:100%;

}

.cancelACC {
  color: white;
  text-shadow: 3px 2px 2px black;
}

.password {
  color:white;
  text-shadow: 3px 2px 2px black;
}

.eField {
  color: white;
  text-shadow: 3px 2px 2px black;

}

.upload {
  color: white;
  text-shadow: 3px 2px 2px black;
}

.button {
  color: black;
}

/*``````````````````````````````````````````````````*/
/* forgot password page */

.forgot {
  background-image: url(https://s3.amazonaws.com/maintenanceminder/forgot.jpeg);
  background-size: cover;

}

/*``````````````````````````````````````````````````*/
/*nav bar */

.navLogIn {
  left:420px;

}

.navSignUp {
  left:420px;
}

.navLogoutLink {
  left:425px;
}

.avatar {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  max-height:40px;
  max-width:40px;
  top: 7px;
  left: 275px;

}

.userName {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  height:25px;
  left:465px;

}

.navbar-default .nav>li>a,
a:focus {

  text-transform:uppercase;
  font-weight:700;
  font-size:13px;


}

.logo {
  display: inline-block;
  position: relative;
  background: url("https://s3.amazonaws.com/maintenanceminder/logo1.png");
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
  height:49px;
  width:50px;
  left: 200px;

}


/*``````````````````````````````````````````````````*/
/*show page for the search.*/

.searchPage {
  background-image: url("https://s3.amazonaws.com/maintenanceminder/wrench.jpg");
  background-repeat: no-repeat;
  background-size: cover;


}

.searchForm {

  text-align: center;
  text-shadow: 2px 2px 2px black;
  padding-left: 52px;

}

.searchTitle {  
  text-align: center;
  text-shadow: 5px 5px 5px black;
  color: #D3D3D3;
  

}

.mapText {
  text-shadow: 5px 5px 5px black;
  color: #D3D3D3;
   border-radius:0px;
  background-color: rgba(0,0,0,0.6);
  margin:0px;

}


/*``````````````````````````````````````````````````*/
/*log in page*/

.logIn {
  background-image: url("https://s3.amazonaws.com/maintenanceminder/login1.jpg");
  background-size: cover;
  padding-top: 60px;
  height: 100vh;
  text-align: center;

}

.btn-color {
  color: black;
  background-color: #80858e;
  width: 152px;

}

.login_name {
  color: white;
  text-shadow:  2px 2px 3px black;

}
.linkOpacity{
  
  border-radius:10px;
  background-color: rgba(0,0,0,0.6);
  padding:10px;
}


/*``````````````````````````````````````````````````*/
/*sign up page*/

.signUp {
  background-image: url("https://s3.amazonaws.com/maintenanceminder/newSignUp.jpg");
  background-size: cover;
  padding-top:60px;
  height: 100vh;
  text-align: center;


}

.btn-color {
  color: black;
  background-color: #80858e;
  width: 152px;

}

.email {
  color: black;

}

.signup_name {
  color: white;
  text-shadow:  2px 2px 3px black;

}

.minCharTxt {
  color: white;
  text-shadow:  2px 2px 3px black;

}
.loginlinkOpacity {
  border-radius:5px;
  background-color: rgba(0,0,0,0.8);
  padding:5px;

}


/*``````````````````````````````````````````````````*/
/*Modals*/

.modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 40%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);

}
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 40%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);

}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;

}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;

}

/*Left*/

.modal.left.fade .modal-dialog{
left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;

}

.modal.left.fade.in .modal-dialog{
  left: 0;

}

/*Right*/

.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;

}

.modal.right.fade.in .modal-dialog {
  right: 0;

}

/* ----- MODAL STYLE ----- */

.modal-content {
  border-radius: 0;
  border: none;

}

.modal-header {
  border-bottom-color: #e65c00;
  background-color: #d9d9d9;

}

/* ----- Modal styling for colors text etc. ----- */

body {
  background-color: #78909C;

}

.bothModals {
  padding-top: 20px;
  padding-bottom: 65px;


}

.btn-default {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 0;
  font-size: 12px;
  background-color: #FFFFFF;

}

.btn-default:focus {
  outline: 0;

}

.modal-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: #212121;
  text-align: center;

}

.modal-footer > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

@media only screen
and (max-width: 1196px) {

h1 {
  font-size: 50px;

}
.about {
  font-size: 40px;
}

.navLogIn {
  left:150px;

}

.navSignUp {
  left:150px;
  bottom:10px;
}

.navLogoutLink {
  left:330px;
  bottom: 0px;

}
.avatar {
  left:200px;
  top: 10px;

}
.logo {
  left: 12%;
  top: 2px;

}  
.userName {
  left: 380px;

  }
.btn {
  border:none;
  border-radius:500px;
  font-weight:700;
  text-transform:uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0px 10px 20px 0 rgba(0,0,0,1);
  width: 195px;

  }
  .modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 50%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);

}
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 50%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  }
}

@media only screen
and (max-width: 1063px) {

h1  {
  font-size: 50px;
  left:15px;
}
.about {
  font-size: 40px;
}

.navLogIn {
  left:150px;

}

.navSignUp {
  left:150px;
  bottom:10px;
}

.navLogoutLink {
  left:300px;
  bottom: 0px;
}
.avatar {
  left:190px;
  top: 10px;
}
.logo {
  left: 12%;
  top: 2px;
}  
.userName {
  left: 360px;
  }
   .btn {
  border:none;
  border-radius:500px;
  font-weight:700;
  text-transform:uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0px 10px 20px 0 rgba(0,0,0,1);
  width: 185px;

  }
  .modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 50%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);

}
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 50%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  }
}

@media only screen
and (max-width: 977px) {

h1 {
  font-size: 50px;
  left:15px;
}
.about {
  font-size: 40px;
  left:10px;
}

.navLogIn {
  left:150px;

}

.navSignUp {
  left:150px;
  bottom:10px;
}

.navLogoutLink {
  left:240px;
  bottom: 0px;
}
.avatar {
  left:130px;
  top: 10px;
}
.logo {
  left: 12%;
  top: 2px;
}  
.userName {
  left: 300px;
  }
   .btn {
  border:none;
  border-radius:500px;
  font-weight:700;
  text-transform:uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0px 10px 20px 0 rgba(0,0,0,1);
  width: 185px;

  }
  .modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 50%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);

}
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 50%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  }
}

@media only screen
and (max-width: 846px) {

h1 {
  font-size: 50px;
  left:15px;
}
.about {
  font-size: 40px;
  left:10px;
}

.navLogIn {
  left:150px;

}

.navSignUp {
  left:150px;
  bottom:10px;
}

.navLogoutLink {
  left:260px;
  bottom: 10px;
}
.avatar {
  left:80px;
  top: 10px;
}
.logo {
  left: 12%;
  top: 2px;
}  
.userName {
  left: 260px;
  }
   .btn {
  border:none;
  border-radius:500px;
  font-weight:700;
  text-transform:uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0px 10px 20px 0 rgba(0,0,0,1);
  width: 185px;

  }
  .modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 50%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);

}
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 50%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  }
}

@media only screen
and (max-width: 767px) {

h1 {
  font-size: 50px;
  left:10px;
}
.about {
  font-size: 40px;
  left:10px;
}

.navLogIn {
  left:150px;

}

.navSignUp {
  left:150px;
  bottom:20px;
}

.navLogoutLink {
  left:220px;
  bottom: 30px;
}
.avatar {
  left:150px;
  top: -10px;
}
.logo {
  left: 12%;
  top: 2px;
}  
.userName {
  left: 210px;
  }
  .btn {
  border:none;
  border-radius:500px;
  font-weight:700;
  text-transform:uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0px 10px 20px 0 rgba(0,0,0,1);
  width: 185px;

  }
  .modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 50%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);

}
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 50%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  }
}

@media only screen
and (max-width: 650px) {

h1 {
  font-size: 45px;
  left:15px;
}
.about {
  font-size: 35px;
}

.navLogIn {
  left:150px;

}

.navSignUp {
  left:150px;
  bottom:10px;
}

.navLogoutLink {
  left:200px;
  bottom: 15px;
}
.avatar {
  left:150px;
  top:-20px;
}
.logo {
  left: 10%;
  top: 20px;
}  
.userName {
  left: 200px;
  }
  .btn {
  border:none;
  border-radius:500px;
  font-weight:700;
  text-transform:uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0px 10px 20px 0 rgba(0,0,0,1);
  width: 185px;

  }
.modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 80%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);

}
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 80%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  }

}

@media only screen
and (max-width: 550px) {

h1{
  font-size: 35px;
  right:10px;
}
.about {
  font-size: 30px;
}

.navLogIn {
  left:150px;

}

.navSignUp {
  left:150px;
  bottom:10px;
}

.navLogoutLink {
  left:150px;
  bottom: 30px;
}
.avatar {
  left:90px;
  top:-20px;
}
.logo {
  left: 10%;
  top: 50px;
}  
.userName {
  left: 130px;
  }
  .btn {
  border:none;
  border-radius:500px;
  font-weight:700;
  text-transform:uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0px 10px 20px 0 rgba(0,0,0,1);
  width: 180px;

  }
.modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 80%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);

}
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 80%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  }

}

@media only screen
and (max-width: 450px) {

h1 {
  font-size: 30px;
  left:15px;
}
.about {
  font-size: 25px;
}

.navLogIn {
  left:150px;

}

.navSignUp {
  left:150px;
  bottom:10px;
}

.navLogoutLink {
  left:140px;
  bottom: 30px;
}
.avatar {
  left:70px;
  top:-20px;
}
.logo {
  left: 10%;
  top: 50px;
}  
.userName {
  left: 110px;
  }
  .btn {
  border:none;
  border-radius:500px;
  font-weight:700;
  text-transform:uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0px 10px 20px 0 rgba(0,0,0,1);
  width: 170px;

  }
.modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 80%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);

}
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 80%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
 }
}
/*google css sheet*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 50vh;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}



@media only screen
and (max-width: 432px) {

h1 {
  font-size: 30px;
  right:10px;
}
.about {
  font-size: 25px;
  right:5px;
}


.navLogIn {
  left:80px;

}

.navSignUp {
  left:78px;
  bottom:10px;
}

.navLogoutLink {
  left:75px;
  bottom: 15px;
}
.avatar {
  left:30px;
  top:-10px;
}

.logo {
  left: 5%;
  top: 40px;
}  
.userName {
  left: 75px;
  }
  .btn {
  border:none;
  border-radius:500px;
  font-weight:700;
  text-transform:uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0px 10px 20px 0 rgba(0,0,0,1);
  width: 160px;

  }
.modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 80%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);

}
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 80%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);

  }
}

@media only screen
and (max-width: 320px) {

h1 {
  left: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  right:35px;
  padding: 0;
  margin: 10;
    
}


.about {
  font-size: 20px;
  left:10px;
}


.navLogIn {
  left:80px;

}

.navSignUp {
left:78px;
bottom:10px;
}

.navLogoutLink {
  left:75px;
  bottom: 10px;
}
.avatar {
  left:35px;
  top:-10px;
}

.logo {
  left: 5%;
  top: 20px;
}  
.userName {
  left: 80px;
}
.btn {
  border:none;
  border-radius:500px;
  font-weight:700;
  text-transform:uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0px 10px 20px 0 rgba(0,0,0,1);
  width: 150px;

  }
.modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 90%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);

}
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 90%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);

  }
}




