
<h2> Maintenance Minder </h2>

	<h3><em> Input your Automobile Information </em></h3>

	<p> use search field to submit to the api,redirect to another page with vehicle result/service intervals... bottom of the page should include recall link.<p>

<form > 
		<input class= "js-search-year" type= "text" placeholder= "Year  of Automobile"> 
		<input class= "js-search-make" type= "text" placeholder= "Make  of Automobile">
		<input class= "js-search-model" type= "text" placeholder= "Model of Automobile">
		
			<button class= "js-search-button"> Find Automobile </button>
	</form>


	<ul class = "js-auto-list"> 

	</ul>